# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules
client/node_modules
server/node_modules

# Build outputs
dist
client/dist

# Environment variables
.env
server/.env

# IDE / OS
.vscode
.vs
.DS_Store
Thumbs.db
